body{
    font-family:'helvetica';    
}
.container{
  border-radius: 25px;
  background: #f5f5f5;
  padding: 20px; 
}
.post-footer {
  margin-left: 30px;
}
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:13px;
}

.photo-profile{
    border:1px solid #DDD;    
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}
.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}
.panel-body {
  margin: 0px 0px 40px 0px;
  border: 1px solid #888888;
  box-shadow: 5px 8px #888888
}
.post-heading {
  margin-left: 10px;
}
.post-body {
  margin-left: 10px;
}
.comment-box {
  box-shadow: 1px 2px 2px grey;
  margin: 0px 19px 30px 0px;
  padding-left: 10px;
} 
.comment-form {
  margin: 0px 19px 30px 0px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.nav-link {
  color: #ffffff !important;
}
.navbar-brand {
  color: #ffffff !important;
}